# Server Configuration
PORT=3000
NODE_ENV=development

# Database Configuration (Neon PostgreSQL)
# Local: postgresql://username:password@localhost:5432/resto_unikom
# Neon PostgreSQL (Production): postgresql://user:password@ep-xyz.region.aws.neon.tech/neondb?sslmode=require
DATABASE_URL="postgresql://user:password@ep-xyz.region.aws.neon.tech/neondb?sslmode=require"

# JWT Authentication Secret Key
JWT_SECRET="resto_unikom_secret_key_2026"
