# Server Configuration
PORT=3000
NODE_ENV=development

# Database Configuration (MySQL)
# Sesuaikan username, password, host, port, dan nama database sesuai environment Anda
DATABASE_URL="mysql://root:@localhost:3306/resto_unikom"

# JWT Authentication Secret Key
JWT_SECRET="resto_unikom_secret_key_2026"
